@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200&family=Overpass:wght@100;200&family=Space+Mono:ital@1&display=swap');
body {
  display: flex;
  justify-content: center;
  margin-top:10%;
  background-color: #141519;
}
*{
font-family: 'Overpass', sans-serif;
}

.container {
  background-image: linear-gradient(hsl(213, 19%, 18%), hsl(214, 10%, 13%));
  border-radius: 20px;
}
